{% extends 'movies_app/base.html' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="about-container">
        <h1 class="about_us">About Us</h1>
        <p class="about_us_paragraph">Welcome to our movie review site! We are passionate about movies and dedicated to providing you with the latest reviews and articles. Our team consists of movie enthusiasts who love sharing their insights and opinions with you.</p>
        <p>Our goal is to create a community where movie lovers can come together and discuss their favorite films. We hope you enjoy your time on our site!</p>
        <p>This site is still under development, and we are open for any suggestions :)</p>

        <div class="team-section">
            <h2>Meet the Team</h2>
            <div class="team-members">
                <div class="member">
                    <img src="../../../static/media/Bartek.jpg" alt="Bartek">
                    <p>Numero Uno Developer</p>
                </div>
                <div class="member">
                    <img src="../../../static/media/Szymon.jpg" alt="Szymon">
                    <p>Numero Dos Developer</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}