<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNAF</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Definitely Not A Filmweb</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Latest Reviews</h2>
            <div class="review">
                <h3>Chernobyl</h3>
                <p><strong>Rating:</strong> 9/10</p>
                <p><strong>Review:</strong> From its haunting cinematography to its stellar performances, the series captivates audiences with its stark portrayal of the human cost and bureaucratic cover-ups in the aftermath of the catastrophe.</p>
                <p><strong>Reviewed by:</strong> Max Verstappen</p>
            </div>
            <div class="review">
                <h3>The Dark Knight</h3>
                <p><strong>Rating:</strong> 9/10</p>
                <p><strong>Review:</strong> Best movie ever. Heath ledger's work is phenomenal no words......</p>
                <p><strong>Reviewed by:</strong>harrybhangu</p>
            </div>
            <!-- Add more reviews as needed -->
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Movie Reviews. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>